* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Outfit';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.app:before {
  content: '';
  background: url('./assets/background.jpg') no-repeat center center/cover;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

::placeholder {
  color: white;
}
/* 
.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.app .top {
  display: flex;
  width: 100%;
  margin: 1rem auto;
}

.app .description {
  position:relative;
  right: -45%;
  transform-origin: 0 0;
  text-align: center;
}

.app .bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.app .weather-icon{
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}

.app .bottom-description {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.bold{
  font-weight: 700;
} */